<footer class="footer">
  <div class="footer-block">
    <h3>Akida Shop</h3>
    <p>Votre destination shopping préférée</p>
  </div>
  <div class="footer-block">
    <h3>Liens Rapides</h3>
    <ul>
      <li><a href="#about">À propos</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#shop">Boutique</a></li>
    </ul>
  </div>
  <div class="footer-block">
    <h3>Suivez-nous</h3>
    <div class="social-links">
      <a href="#"><i class="pi pi-facebook"></i></a>
      <a href="#"><i class="pi pi-twitter"></i></a>
      <a href="#"><i class="pi pi-instagram"></i></a>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2024 Akida Shop. Tous droits réservés.</p>
  </div>
</footer> 